/virtualenv/
/tsusyd/
/ssl/
/server.source
/openmpi/
/include/
/log/
/programs/
/programs.list
/gdb/
/gcc/
/evawizd/
/evawiz_develop.source
/eva-sole/
/emacs/
/database/
/cuda*
/binsev/
/bindev/
/auth/
/NV*
/.*
/base/
/pymods/
/eva_modules/
/soft
/favicon.ico
/scripts
/tmp
!/scripts/eva*
!/scripts/Crypto
!/scripts/mod_requests
!/scripts/muser.py
!/scripts/README.md
!/scripts/update-eva
!/base/fftw3


exe
*.so
*.o
*-dev
*.bak
*.out
a
*.pyc


